
@{
    ViewBag.Title = "Slider Images";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<br>
<br>
<br>
<br>
<br>
<form action="@Url.Action("SliderImageAdd","Admin")" method="POST" enctype="multipart/form-data">
   
    <div class="form-group">
        <label class="control-label col-md-3">Slider image</label>
        <div class="controls col-md-9">
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <span class="btn btn-white btn-file">
                    <span class="fileupload-new"><i class="icon-paper-clip"></i> Select image</span>
                    <span class="fileupload-exists"><i class="icon-undo"></i> Change</span>
                    <input type="file" class="default" name="fileUpload" />
                </span>
                <span class="fileupload-preview" style="margin-left: 5px;"></span>
                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left: 5px;"></a>
            </div>
        </div>
    </div>
    <div class="container">
        <input type="submit" value="save" class="btn btn-primary">
    </div>
</form>
